In [1]:
import bs4
import urllib.request as urllib_request
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [17]:

url = 'https://www.jauserve.com.br/on/demandware.store/Sites-JauServe-Site/pt_BR/Search-Show?q='+'cerveja'+'&lang=pt_BR&start=0&sz=100'
response = urlopen(url)
html = response.read()
soup = BeautifulSoup(html, 'html.parser')

lista_item = []
lista_valor=[]
for i in range(len(soup.findAll('div',{'class':'pdp-link'}))):
    lista_item.append(soup.findAll('div',{'class':'pdp-link'})[i].get_text().replace('\n','').upper())
    lista_valor.append(soup.findAll('span',{'class':'sales mr-2'})[i].get_text().replace('\n','').split()[1].replace(',','.'))
dataset = pd.DataFrame({'Supermercado':'Jaú Serve','Produto':lista_item , 'Preço':lista_valor})
dataset['Preço'] = dataset['Preço'].astype(float)
dataset.sort_values('Preço').reset_index(drop=True)

   Supermercado                                            Produto   Preço
0     Jaú Serve                         CERVEJA SERRANA LATA 350ML    1.69
1     Jaú Serve                   CERVEJA PURO MALTE DEVASSA 300ML    1.89
2     Jaú Serve      CERVEJA PILSEN ANTARCTICA SUB ZERO LATA 269ML    2.09
3     Jaú Serve                          CERVEJA KAISER LATA 350ML    2.29
4     Jaú Serve                 CERVEJA PILSEN ITAIPAVA LATA 269ML    2.29
..          ...                                                ...     ...
95    Jaú Serve  CERVEJA PILSEN CHOPP BRAHMA LATA 350ML C/18 UN...   48.49
96    Jaú Serve                   CERVEJA IPA LAGUNITAS LATA 350ML   83.88
97    Jaú Serve  CERVEJA PILSEN PURO MALTE EISENBAHN GARRAFA 600ML   83.88
98    Jaú Serve           CERVEJA LAGER PREMIUM HEINEKEN BARRIL 5L   89.90
99    Jaú Serve                CERVEJA IPA LAGUNITAS GARRAFA 355ML  118.80

[100 rows x 3 columns]

In [28]:
marca = "BRAHMA"
dataset.query(f'Produto.str.contains("{marca}")',engine='python')

   Supermercado                                            Produto  Preço
9     Jaú Serve                          CERVEJA BRAHMA LATA 350ML   2.75
36    Jaú Serve                     CERVEJA BRAHMA ZERO LATA 350ML   3.99
99    Jaú Serve  CERVEJA PILSEN CHOPP BRAHMA LATA 350ML C/18 UN...  48.49