In [53]:
import bs4
import urllib.request as urllib_request
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [88]:
def lista_produtos(produto):
    url = 'https://delivery.supercentral.com.br/loja/busca/?q='+produto+'&page=1'
    response = urlopen(url)
    html = response.read()
    soup = BeautifulSoup(html, 'html.parser')
    num_itens = int((soup.h1.get_text()).split()[0])
    if num_itens % 20 == 0:
        num_paginas = num_itens/20
    else:
        num_paginas = int(num_itens/20)+1

    lista_nome = []
    lista_preco = []

    for a in range(num_paginas):
        url = 'https://delivery.supercentral.com.br/loja/busca/?q='+produto+'&page='+str(a+1)
        response = urlopen(url)
        html = response.read()
        soup = BeautifulSoup(html, 'html.parser')
        for i in range(len(soup.findAll('span',{'class':'preco-final'}))):
            lista_nome.append(soup.findAll('a',{'class': 'link-nome-produto'})[i].get_text().replace('\n',''))
            lista_preco.append(soup.findAll('span',{'class':'preco-final'})[i].get_text().replace(',','.'))

    central = pd.DataFrame({'Supermercado':'Central','Produto':lista_nome , 'Preço':lista_preco})
    central['Preço'] = central['Preço'].astype(float)
    
    
    return central.sort_values('Preço').reset_index(drop=True)

In [96]:
lista_produtos('skol')

  Supermercado                                   Produto  Preço
0      Central          CERVEJA LATA 350 ML SKOL P MALTE   2.29
1      Central                  CERVEJA LATA 269 ML SKOL   2.39
2      Central                  CERVEJA LATA 350 ML SKOL   2.79
3      Central                  CERVEJA LATA 473 ML SKOL   3.79
4      Central     BEBIDA MISTA SKOL BEATS 269 ML SENSES   5.49
5      Central   BEBIDA MISTA SKOL BEATS LT 269ML MOJITO   6.49
6      Central         BEBIDA MISTA SKOL BEATS 269 ML GT   6.49
7      Central   BEBIDA MISTA SKOL BEATS LT 269ML MOSCOW   6.49
8      Central      BEBIDA MISTA SKOL BEATS LN 269 ML GT   6.98
9      Central  BEBIDA MISTA SKOL BEATS LN 269 ML SENSES   6.99

In [97]:
dataset

                                     Produto  Preço
0                CERVEJA LATA 350 ML DEVASSA   2.79
1        CERVEJA LATA 350 ML IMPÉRIO P MALTE   2.29
2       CERVEJA LATA 350 ML PETRA PURO MALTE   3.09
3          CERVEJA LATA 350 ML STELLA ARTOIS   3.99
4                 CERVEJA LATA 350 ML AMSTEL   3.19
..                                       ...    ...
138        CERVEJA LATA 330 ML E.GALICIA 0,0   4.79
139  CERVEJA LATA 350 ML ITAIPAVA 100% MALTE   2.99
140    CERVEJA LONG NECK 355 ML GOOSE MIDWAY   7.99
141    CERVEJA GARRAFA 600 ML COLORADO LAGER  10.99
142       CERVEJA GARRAFA 500ML THEREZÓPOLIS   7.69

[143 rows x 2 columns]